.login-layout {
  height: 100vh;
  overflow: auto;
  padding: 30px 60px;
  background: url("../assets/docsumo-bg.png") no-repeat 100% 100%;
  background-size: cover;

  .login-form {
    max-width: 548px;
    min-width: 300px;
    border-radius: 8px;
    padding: 54px 64px 48px;
    background-color: #fff;
    margin: auto;
    margin-top: 80px;
    // box-shadow: 0 4px 18px rgb(0 0 0 / 25%);
    .forgot-password {
      display: flex;
      flex-direction: row-reverse;
      a {
        color: #000;
        margin-top: 8px;
        font-size: 14px;
        line-height: 1.7;
        display: inline-block;
        text-decoration: none;
      }
      a:hover {
        font-size: 14px;
        color: #344bfc;
        text-decoration: underline;
      }
    }
    .btn-wrapper {
      margin: 30px 0;
    }
    .sign-up-text {
      color: #414141;
      margin-top: 16px;
      text-align: center;
      font: normal normal 18px Lato, sans-serif;
      a {
        color: #4d61fc;
        font-weight: 600;
        font-size: inherit;
        text-decoration: none;
      }
      a:hover{
        text-decoration: underline;
      }
    }
  }
}
